/* DESKTOP */
/* ....... */
/* ....... */


/* Base */
/* .... */
/* .... */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana;
	font-size: 62.5%; /* Base 10px */
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #00b9eb;
}

img {
	width: 100%;
}

h2 {
	color: white;
}


/* Layout */
/* ...... */
/* ...... */

/* Menu */

.menu {
	z-index: 4;
	position: fixed;
	top: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	background-color: white;
	text-align: center;
}

.menu ul {
	border: 2px solid red;
}

.logo {
	border: 2px solid green;
	padding-right: 50%;
	font-family: 'Great Vibes', cursive;
	font-size: 4em;
}

.menu li {
	display: inline;
	margin-right: 10px;
	font-size: 1.7em;
	color: black;
}


/* Slider */

.slider {
	position: relative;
	height: 580px;
}

.slider_photo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.slider_picture {
	z-index: 3;
	position: relative;
	top: 100px;
	margin: auto;
	max-width: 150px;
	height: 150px;
	border: 2px solid white;
	border-radius: 100px;
	overflow: hidden;
}

.slider_information {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.3);
	text-align: center;
	color: white;
}

.slider_information h1 {
	position: relative;
	top: 280px;
	padding-bottom: 50px;
	font-size: 2.4em;
}

.slider_text_one {
	float: left;
	margin-top: 270px;
	width: 50%;
	text-align: right;
	font-size: 2em;
}

.slider_text_two {
	float: left;
	margin-top: 270px;
	width: 50%;
	text-align: left;
	font-size: 2em;
}

.button_accueil_right {
	margin-right: 10px;
}

.button_accueil_left {
	margin-left: 10px;
}


/* Skill */

.skill {
	padding-bottom: 50px;
	text-align: center;
}

.skill h2 {
	padding-top: 50px;
	margin-bottom: 50px;
	font-size: 2.5em;
	color: black;
	font-weight: normal;
}

.specific_skill {
	display: inline-block;
	border: 2px solid purple;
}

.skill p {
	width: 100px;
	color: black;
	font-size: 1.5em;
	text-align: center;
}

meter {
	height: 20px;
	width: 100px;
}


/* History */

.history {
	position: relative;
	text-align: center;
	height: 440px;
}

.history h2 {
	z-index: 1;
	position: relative;
	top: 0;
	padding-top: 80px;
	padding-bottom: 20px;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.7);
	font-size: 2em;
}

.history p {
	z-index: 2;
	position: relative;
	top: 0;
	padding-top: 20px;
	height: 300px;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.7);
	font-size: 2em;
	color: white;
}

.history_background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/photo/skill.jpg) no-repeat fixed center;
}


/* Formation */

.formation {
	text-align: center;
	background-color: white;
}

.formation h2 {
	padding-top: 50px;
	font-size: 2.5em;
	font-weight: normal;
	color: black;
}

.formation figure {
	border: 2px solid red;
	margin: auto;
	max-width: 70px;
	margin-bottom: 15px;
}

.formation div {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: left;
	border: 2px solid purple;
	color: black;
	font-size: 1.5em;

}

.formation span {
	font-weight: bold;
	color: #5bc0de;
	border-bottom: 1px solid #5bc0de;
}


/* Form */

.form_contact {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: red;
}

.form_contacth2 {
	font-size: 2.3em;
}

.form_contact section {
	display: inline-block;
	border: 5px solid purple;
	margin-top: 50px;
	color: white;
	font-size: 1.5em;
}

.input_text {
	display: block;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	width: auto;
}


/* Footer */

.main_footer {
	height: 200px;
	background-color: black;
	text-align: center;
	font-size: 2em;
}


/* LOG BACKOFFICE */

.background_body {
	background-color: #f1f1f1;
}

.connexion_section {
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 350px;
	height: 100%;
	font-size: 2em;
}

.image_connexion_bo {
	margin: auto;
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 35px;
}

.connexion_form {
	padding-top: 35px;
	padding-bottom: 50px;
	font-size: 0.7em;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.connexion_p {
	margin-left: 24px;
	margin-bottom: 3px;
	width: 85%;
	text-align: left;
	color: #72777c;
}

.input_connexion_bo {
	margin-left: 24px;
	margin-bottom: 20px;
	width: 85%;
	font-size: 2em;
	background-color: #fbfbfb;
	border: none;
	border: 1px solid #dddddd;
	box-shadow: 0px 2px 5px #d4d4d4;
}

.container_checkbox {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 24px;
	width: 85%;
}

.restart_password {
	margin-left: 24px;
	color: #00b9eb;
}

.error_bo {
	margin-top: 10px;
	text-align: center;
	color: #d50a0a;
}

.captcha_resizing {
	margin-bottom: 10px;
	max-width: 75px;
}


/* BACKOFFICE */

.header_backoffice {
	z-index: 3;
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: #23282d;
}

.container_img_backoffice {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 80px;
}

.menu_backoffice {
	position: fixed;
	margin-top: 100px;
	width: 200px;
	height: 837px;
	background-color: #23282d;
}

.tab_backoffice {
	padding-left: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
	font-size: 1.5em;
	background-color: #23282d;
	color: white;
	border-top: 1px solid white;
}

.tab_backoffice a {
	cursor: pointer;
}

.logo_tab_backoffice {
	width: 25px;
	display: inline;
}

.text_tab_backoffice {
	color: white;
	display: inline;
}

.contain_backoffice {
	margin-left: 200px;
	padding-top: 110px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: 1000px;
	font-size: 2em;
}

.category_backoffice {
	display: inline-block;
	margin-top: 20px;
	padding: 5px;
	cursor: pointer;
	background-color: #23282d;
	color: white;
	border-radius: 5px;
}

.menu_backoffice_mobile {
	display: none;
}


/* BACKOFFICE FORMATION */

.form_formation {
	border: 2px solid red;
}

.modify_h2 {
	margin-top: 50px;
	color: black;
}

.form_formation input {
	margin-top: 10px;
	padding: 15px;
	display: block;
}

.modify_formation {
	margin-bottom: 50px;
}


/* Module (small content) */
/* ...................... */
/* ...................... */



/* State (state elements) */
/* ...................... */
/* ...................... */

.button_blue:hover {
	background-color: #55B1CD;
}

.button_orange:hover {
	background-color: #55B1CD;
}

.text_tab_backoffice:hover {
	color: #00b9eb;
}


/* Factored */
/* .................... */
/* .................... */

.button_blue {
	padding: 15px;
	background-color: #5bc0de;
	border: none;
	border-radius: 2px;
	font-size: 0.9em;
	color: white;
	cursor: pointer;
}

.button_orange {
	padding: 15px;
	background-color: #5bc0de;
	border: none;
	border-radius: 2px;
	font-size: 0.9em;
	color: white;
	cursor: pointer;
}

.resize_image {
	width: 100px;
	height: 100px;
}


/* MOBILE VERSION */
/* .................... */
/* .................... */

@media screen and (max-width: 768px) {

	/* BACKOFFICE */
	.header_backoffice {
		display: none;
	}

	/* BACKOFFICE MENU */
	.menu_backoffice {
		display: none;
	}

	.contain_backoffice {
		margin-left: 0;
		padding-right: 10px;
	}

	.menu_backoffice_mobile {
		z-index: 3;
		position: fixed;
		width: 100%;
		display: block;
		text-align: center;
	}

	.contain_menu_backoffice_mobile {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #23282d;
		font-size: 2em;
	}

	.contain_menu_backoffice_mobile li {
		margin-right: 20px;
		border-radius: 5px;
	}

	.button_style_blue {
		font-size: 0.8em;
	}

	/* Factored */
	/* .................... */
	/* .................... */
	.contain_menu_backoffice_mobile li:hover {
		background-color: #00b9eb;
	}

}